{% extends 'main/base.html' %}
{% load bootstrap4 %}
{% load main_filters %}

{% block title_block %}
	<title>Add Attendance</title>
{% endblock %}

{% block body_block %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<style type="text/css">
		.centre{
			text-align: center;
		}
		.attendanceCard{
			margin-bottom: 10px;
			/*border: 1px solid black;*/
			padding: 20px;
			/*text-align: center;*/
			border-radius: 10px;
		}
		.studentName{
			padding: 0px;
			margin-bottom: 5px;
		}
		.present, .absent{
			border-radius: 10px;
			padding: 30px;
			margin-bottom: 5px;
			display: block;
			width: 80%;
			margin-left: 10%;
			color: white;

			opacity: 0.6;
		}
		button:hover{
			outline: none;
		}
		.present{
			background-color: green;
		}
		.absent{
			background-color: red;
		}
	</style>

	<div>
		<h4 class="centre">Attendance</h4>
		<h5 class="centre">Class: {{ grade }} | {{ date }}</h5>
		{% for s in students %}
			<div class="attendanceCard" id="attendanceCard_{{s.pk}}" style="
			background-color: 
			{% if attVal|get_item:s.pk == 1 %}
				#bff3c8;
			{% elif attVal|get_item:s.pk == 0 %}
				#e8aaaa;
			{% else %}
				#eeeeee;
			{% endif %}
			">
				{% if attVal|get_item:s.pk == 1 %}
					<div id="before_change_{{s.pk}}">
						<span>{{ s.name }} was present</span>
						<button class="btn btn-sm" id="change_{{ s.pk }}" style="display: inline-block; float: right;" onclick="change('{{ s.pk }}')">Change</button>
					</div>
					<div id="during_change_{{ s.pk }}" style="display: none;">
						Changing attendance for {{ s.name }}...
					</div>
					<div id="after_change_{{s.pk}}" style="display: none;">
						<span id="ac_absent_{{s.pk}}"
						style="display:none;">{{ s.name }} was absent</span>
						<button disabled="true" class="btn btn-sm" id="change_{{ s.pk }}" style="display: inline-block; float: right;">Changed</button>
					</div>
				{% elif attVal|get_item:s.pk == 0 %}
					<div id="before_change_{{s.pk}}">
						<span>{{ s.name }} was absent</span>
						<button class="btn btn-sm" id="change_{{ s.pk }}" style="display: inline-block; float: right;" onclick="change('{{ s.pk }}')">Change</button>
					</div>
					<div id="during_change_{{ s.pk }}" style="display: none;">
						Changing attendance for {{ s.name }}...
					</div>
					<div id="after_change_{{s.pk}}" style="display: none;">
						<span id="ac_present_{{s.pk}}"
						style="display:none;">{{ s.name }} was present</span>
						<button disabled="true" class="btn btn-sm" id="change_{{ s.pk }}" style="display: inline-block; float: right;">Changed</button>
					</div>
				{% else %}
				<!-- Not marked yet. -->
					<div id="before_mark_{{ s.pk }}" style="text-align: center;">
						<h5 class="studentName">{{ s.name }}</h5>
						<button id="p_{{ s.pk }}" class="present"
						onclick="present('{{ s.pk }}')">Present</button>
						<button id="a_{{ s.pk }}" class="absent"
						onclick="absent('{{ s.pk }}')">Absent</button>
					</div>
					
					<div id="during_mark_{{ s.pk }}" style="display: none;">
						Marking attendance for {{ s.name }}...
					</div>

					<div id="after_mark_{{ s.pk }}" style="display: none;">
						<div id="before_change_{{s.pk}}">
							<span id="am_present_{{s.pk}}">{{ s.name }} was present</span>
							<span id="am_absent_{{s.pk}}">{{ s.name }} was absent</span>
							<button class="btn btn-sm" id="change_{{ s.pk }}" style="display: inline-block; float: right;" onclick="change('{{ s.pk }}')">Change</button>
						</div>
						<div id="during_change_{{ s.pk }}" style="display: none;">
							Changing attendance for {{ s.name }}...
						</div>
						<div id="after_change_{{s.pk}}" style="display: none;">
							<span id="ac_present_{{s.pk}}"
							style="display:none;">{{ s.name }} was present</span>
							<span id="ac_absent_{{s.pk}}"
							style="display:none;">{{ s.name }} was absent</span>
							<button disabled="true" class="btn btn-sm" id="change_{{ s.pk }}" style="display: inline-block; float: right;">Changed</button>
						</div>
					</div>
				{% endif %}
			</div>
		{% endfor %}
	</div>

	<script type="text/javascript">
		var wl = window.location;
		var mark_url = wl.protocol + "//" + wl.hostname + ":" + wl.port + "/attendance/mark/";
		var change_url = wl.protocol + "//" + wl.hostname + ":" + wl.port + "/attendance/change/";

		function present(pk){
			pk = parseInt(pk)
			$.ajax({
				url: mark_url,
				method: "GET",
				dataType: "json",
				data: "pk=" + pk + "&value=1&date={{date|date:'d-m-Y'}}",
				success: function (data){
					$("#during_mark_"+pk).hide();
					$("#am_absent_"+pk).hide();
					$("#after_mark_"+pk).toggle();
					$("#attendanceCard_"+pk).css("background-color", "#bff3c8");
				}
			});
			$("#before_mark_"+pk).hide();
			$("#during_mark_"+pk).toggle();
		}
		function absent(pk){
			pk = parseInt(pk)
			$.ajax({
				url: mark_url,
				method: "GET",
				dataType: "json",
				data: "pk=" + pk + "&value=0&date={{date|date:'d-m-Y'}}",
				success: function (data){
					$("#during_mark_"+pk).hide();
					$("#am_present_"+pk).hide();
					$("#after_mark_"+pk).toggle();
					$("#attendanceCard_"+pk).css("background-color", "#e8aaaa");
				}
			});
			$("#before_mark_"+pk).hide();
			$("#during_mark_"+pk).toggle();
		}
		function change(pk){
			pk = parseInt(pk)
			$.ajax({
				url: change_url,
				method: "GET",
				dataType: "json",
				data: "pk=" + pk + "&date={{date|date:'d-m-Y'}}",
				success: function (data){
					console.log(data);
					console.log(data.changedTo);
					$("#during_change_"+pk).hide();
					// ac_present_ or ac_absent_ and background-color depends on response from server.
					 // If the attendance was changed to present or absent.
					if (data.changedTo == 0) {
						$("#ac_absent_"+pk).show();
						$("#attendanceCard_"+pk).css("background-color", "#e8aaaa");
					}
					else if(data.changedTo == 1){
						$("#ac_present_"+pk).show();
						$("#attendanceCard_"+pk).css("background-color", "#bff3c8");
					}

					$("#after_change_"+pk).show();
				}
			});
			$("#before_change_"+pk).hide();
			$("#during_change_"+pk).toggle();
		}
	</script>

{% endblock %}