{% extends 'main/base.html' %}
{% load bootstrap4 %}

{% block title_block %}
	<title>Select Date and Class</title>
{% endblock %}

{% block body_block %}
	<style type="text/css">
		label{
			margin-top: 8px!important;
			font-size: 20px;
			padding-left: 0px!important;
		}
		.classButton{
			outline: 0px!important;
		}
	</style>
	<h4>Select Date and Class:</h4>

	{% if error %}
	<small style="color: red">{{ error }}</small>
	{% else %}
	<br>
	{% endif %}
	<form class="container">
		<div class="form-group row">
			<label class="col-2 form-label mx-auto" for="date">Date:</label> 
			<input class="col-10 form-control" type="date" name="date" value="{{ date }}"> 
		</div>

		<div class="form-group row">
			<label class="col-2 form-label mx-auto" for="class">Class:</label> 
			<input id="class9" class="col-5 form-control classButton" type="button" value="9" onclick="changeBack(this)">
			<input id="class10" class="col-5 form-control classButton" type="button" value="10" onclick="changeBack(this)">

			<input id="classInput" type="hidden" name="class" value="9">
		</div>

		<div class="form-group row">
			<input class="col-12 btn" type="submit" value="Go">
		</div>

	</form>
	<script type="text/javascript">
		var class9 = document.getElementById('class9');
		class9.style.backgroundColor = "grey";
		class9.style.color = "white";

		function changeBack(a) {
			var class9 = document.getElementById('class9');
			var class10 = document.getElementById('class10');
			var classInput = document.getElementById('classInput');

			if(a.id == 'class9'){
				if(class10.style.backgroundColor == "grey" && class10.style.color == "white"){
					class10.style.backgroundColor = "white";
					class10.style.color = "black";
				}
				class9.style.backgroundColor = "grey";
				class9.style.color = "white";
				classInput.value = "9";

			}
			else if(a.id == 'class10'){
				console.log("class9 back color: " + class9.style.backgroundColor);
				if(class9.style.backgroundColor == "grey" && class9.style.color == "white"){
					class9.style.backgroundColor = "white";
					class9.style.color = "black";
				}
				class10.style.backgroundColor = "grey";
				class10.style.color = "white";
				classInput.value = "10";

			}
		}
	</script>
{% endblock %}