{% extends 'main/base.html' %}
{% load main_filters %}
{% load bootstrap4 %}

{% block title_block %}
	<title>Index</title>
{% endblock %}

{% block body_block %}
	<style type="text/css">
		.att{
			color: black;
		}
		.jumbotron{
			padding-top: 30px!important;
			padding-bottom: 30px!important;
		}
		.custom_btn, .custom_btn2{
			background-color: transparent;
			outline: none;
			border: 1px solid black;
			border-radius: 10px;
			padding: 10px;
			width: 100%;
			display: block;
			box-shadow: none;
		}
		.custom_btn:hover, .custom_btn:focus{
			background-color: black;
			outline: none;
			color: white;
			cursor: pointer;
			box-shadow: none;
		}
		.custom_btn2:hover, .custom_btn2:focus{
			cursor: pointer;
			outline: none;
			box-shadow: none;
		}
		#rfdc_button{
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;	
		}
		.my_card_container{
			padding: 10px;
			width: 50%;
		}
		.my_card{
			border:1px solid black;
			display: inline-block!important;
			padding: 5px;
			padding-top: 10px;
			border-radius: 5px;
			width: 100%;
		}
		.my_card:hover{
			color: white;
			background-color: #2e3038;
		}
		@media only screen and (max-width: 600px) {
			.my_card_container{
				width: 50%;
			}
		}
		.today_attendance{
			border: 1px solid black;
		}
		#recent_fee_details_container{
			/*display: none;*/
			border: 1px solid black;
			border-top: none;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			/*padding-top: 10px;*/
		}
		@keyframes highlight{
			0%	{
				background-color: lightgrey;
				color: black;
			}
			100%	{
				background-color: white;
				color: black;
			}
		}
		.animate{
			-webkit-animation: highlight 1.5s cubic-bezier(0.4, -0.3, 1, 1);
			-moz-animation: highlight 1.5s cubic-bezier(0.4, -0.3, 1, 1);
			-o-animation: highlight 1.5s cubic-bezier(0.4, -0.3, 1, 1);
			animation: highlight 1.5s cubic-bezier(0.4, -0.3, 1, 1);
		}
		.fee_details{
			padding-top: 5px;
			padding-bottom: 5px;
		}
		.fee_details>p{
			margin-left: 5px;
			margin-bottom: 0px;
		}
		.fee_details>h6{
			padding-left: 5px;
		}
		*{
			/*border: 1px solid black;*/
		}
	</style>
	{% if user.is_authenticated %}
		<h4 style="text-align: center;">Tution Management</h4>
		<br>
		<button class="custom_btn" onclick="mark_attendance()">
			<span>Mark Today's Attendance</span>
			<span style="float: right; font-size: 0.8rem; margin-top: 2px;">Open</span>
		</button>
		<br>
		<button class="custom_btn" onclick="add_fee()">
			<span>Add Fee Payment Details</span>
			<span style="float: right; font-size: 0.8rem; margin-top: 2px;">Open</span>
		</button>
		<br>

		<button id="rfdc_button" class="custom_btn2" onclick="changeDisplay(this)">
			<span>Recent Fee Payments</span>
			<!-- <span style="float: right; font-size: 0.8rem; margin-top: 2px;">Open</span> -->
			<span id="rfdc_state" style="float: right; font-size: 0.8rem; margin-top: 2px;">Hide</span>
		</button>

		<div id="recent_fee_details_container">
			<div id="recent_fee_details">
				{% for f in recent_fee_payments %}
				<div id="fd_{{ f.pk }}" class="fee_details">
					<h6>{{ f.student.name }}</h6>
					<p>Paid: Rs {{ f.amount }}</p>
					<p style="margin-bottom: 0px;">Date: {{ f.date_paid }}</p>
				</div>
				<hr style="margin: 0px;">
				{% empty %}
					<h6 style="text-align: center;">It's empty :(</h6>
				{% endfor %}
			</div>
		</div>

		<div id="mymodal_custom_mark_att" class="modal_custom">
			<div class="modal_custom-content">
				<h5 style="text-align: center;">Mark Today's Attendance</h5>
				<div class="row" style="padding: 0!important; margin: 0 auto!important;">
					<div class="my_card_container">
						<a class="att" href="/attendance/new/?date={{ date_today }}&class=9">
							<div class="my_card btn">
								<h5 style="text-align: center;">Class 9</h5>
							</div>
						</a>
					</div>
					<div class="my_card_container">
						<a class="att" href="/attendance/new/?date={{ date_today }}&class=10">
							<div class="my_card btn">
								<h5 style="text-align: center;">Class 10</h5>
							</div>
						</a>
					</div>
				<br>
				</div>
			</div>
		</div>
		<div id="mymodal_custom_add_fee" class="modal_custom">
			<div class="modal_custom-content">
				<h5 style="text-align: center;">Add Fee Payment Details</h5>
				<div class="row" style="padding: 0!important; margin: 0 auto!important;">
				<div class="my_card_container">
					<a class="att" href="/fee/new/?grade=9">
						<div class="my_card btn">
							<h5 style="text-align: center;">Class 9</h5>
						</div>
					</a>
				</div>

				<div class="my_card_container">
					<a class="att" href="/fee/new/?grade=10">
						<div class="my_card btn">
							<h5 style="text-align: center;">Class 10</h5>
						</div>
					</a>
				</div>
			</div>
			</div>
		</div>

		<style type="text/css">
			.modal_custom {
			    display: none;
			    position: fixed;
			    z-index: 1;
			    left: 0;
			    top: 0;
			    width: 100%;
			    height: 100%;
			    overflow: auto;
			    background-color: rgba(0,0,0,0.7);
				justify-content: center;
				align-items: center;
			}
			.modal_custom-content {
			    background-color: white;
			    margin: 20% auto;
			    padding: 30px;
			    border: 1px solid #888;
			}
		</style>

		<script type="text/javascript">
			var url_string = window.location.href;
			var url = new URL(url_string)
			var hover_id = url.searchParams.get('hover_id')
			// alert(hover_id)
			if (hover_id){
				$('#fd_' + hover_id).addClass('animate')
			}
			function changeDisplay(e){
				$('#recent_fee_details_container').toggle('slow');
				if ($("#rfdc_state").text() == "Show") {
					$("#rfdc_state").text("Hide");
					$("#rfdc_button").css("border-bottom-left-radius", "0px");
					$("#rfdc_button").css("border-bottom-right-radius", "0px");
				}
				else if ($("#rfdc_state").text() == "Hide") {
					$("#rfdc_state").text("Show");
					$("#rfdc_button").css("border-bottom-left-radius", "10px");
					$("#rfdc_button").css("border-bottom-right-radius", "10px");
				}
			}
			var mymodal_custom_mark_att = document.getElementById('mymodal_custom_mark_att');
			var mymodal_custom_add_fee = document.getElementById('mymodal_custom_add_fee');
			
			function mark_attendance(){
				mymodal_custom_mark_att.style.display = "flex";
			}
			function add_fee(){
				mymodal_custom_add_fee.style.display = "flex";
			}

			window.onclick = function(event) {
			    if (event.target == mymodal_custom_mark_att) {
			        mymodal_custom_mark_att.style.display = "none";
			    }
			    else if (event.target == mymodal_custom_add_fee) {
			        mymodal_custom_add_fee.style.display = "none";
			    }
			}

			$(document).keydown(function(event) {
				if (event.keyCode == 27) {
					$('#mymodal_custom_mark_att').hide();
					$('#mymodal_custom_add_fee').hide();
				}
			});
		</script>

		<br>
		<br>
		<br>


	{% else %}
	<div class="jumbotron">
		<h4>Tution Management</h4>
		<p>Welcome, stranger!</p>
		<p>This is a simple webapp made to help manage the tuition classes for the tutors.</p>
		<p>You need to be logged in to use the features! *grin*</p>
		<p>But first go to the <a href="{% url 'accounts:registration' %}">registration page.</a></p>
		<p>Or, if you are an old user, <a href="{% url 'accounts:login' %}">login</a>.</p>
		
	</div>
	{% endif %}
{% endblock %}