{% extends 'main/base.html' %}
{% load bootstrap4 %}

{% block title_block %}
	<title>Student List</title>
{% endblock %}

{% block body_block %}
<style type="text/css">
	*{
		color: black;
		/*border:1px solid black;*/
	}
	.my_card_container{
		padding: 10px;
	}
	.my_card{
		border: 1px solid black;
		display: inline-block!important;
		padding: 10px;
		border-radius: 5px;
		width: 100%;
	}
	.my_card:hover{
		color: white;
		background-color: #2e3038;
	}
    .my_card_left{
        background-color: #bfbfbf;
        font-style: italic;
    }
	p{
		margin: 0px;
	}
	@media only screen and (max-width: 600px) {
		.my_card_container{
			width: 50%;
		}
	}
</style>
	<h4 style="text-align: center;">Student List</h4>
	{% regroup student_list by grade as Rstudent_list %}
	{% for grade, students in Rstudent_list %}
		<h5 style="margin-top: 10px; text-align: center;">Class: {{ grade }}</h5>
		<div class="row" style="padding: 0!important;">
			{% for student in students %}
                {% if student.left %}
                <div class="my_card_container col-md-3 col-sm-4">
                    <a href="{% url 'main:student_detail' pk=student.pk %}">
                        <div class="my_card btn my_card_left" style="text-align: center;">{{ student.name }}
                        </div>
                    </a>
                </div>
                {% else %}
                <div class="my_card_container col-md-3 col-sm-4">
                    <a href="{% url 'main:student_detail' pk=student.pk %}">
                        <div class="my_card btn" style="text-align: center;">{{ student.name }}
                        </div>
                    </a>
                </div>
                {% endif %}
			{% endfor %}
		</div>
	{% empty %}
	    <br>
	    <br>
		<h5 style="text-align: center;">No students yet. <a href="{% url 'main:student_form' %}">Add</a> students to continue.</h5>
	{% endfor %}
		<br>
{% endblock %}